body {
    font-family: "Montserrat";
    background-color: #F2F2F2;
    margin: 0;
}

.logo-container {
    width: 100%;
    max-width: 1100px;
    margin: 40px auto 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 150px;
}

.title {
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
    color: #4bb74e;
    cursor: pointer;
}

.group-name-container{
    text-align: center;
    margin-bottom: 20px;
    margin: 0 20px;
}

.group-name-container h2{
    font-size: 28px;
    margin: 0;
}

.group-name-container h3{
    font-size: 17px;
    color: #666;
    margin: 0;
}


.intro-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 40px auto;
    padding: 0 20px;
    box-sizing: border-box;
    max-width: 800px;
}

.intro-container .widget-container{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    max-width: 300px;
    margin: auto;
}

.intro-container > div{
    width: 47%;
}

.left-text{
    font-size: 17px;
    text-align: justify;
}

.intro-container.work{
    flex-direction: row-reverse;
}

.sections-container {
    
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
}

.section {
    width: 100%;
    margin: auto;

}

.section>.header {
    max-width: 1000px;
    width: 100%;

    margin: 15px auto;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-color: #4bb74e;
    border-radius: 0 50px;
    align-items: center;
    position: relative;

}

.section>.header>h2 {
    text-align: center;
    margin: 0;
    color: #FFF;
    cursor: pointer;
}

.section>.header>img {
    margin-left: 20px;
    width: 30px;
    height: 17px;
    position: absolute;
    right: 40px;
    top: calc(50% - 7px);
}

.section > .content {
    display: none;
    width: 100%;
}

.section .content-inner {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
}

.rotated {
    transform: rotate(180deg);
}

.widget-container{
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
}

.widget-image{
    width: 100%;
    position: relative;

}

.widget-image .in-frame{
    left: 21.2%;
    top: 5.8%;
    width: 57.1%;
    height: 86.9%;
    position: absolute;
}

.widget-image .frame{
    width: 100%;
}

.done-marker{
    position: absolute;
    right: 7px;       
    bottom: 15px;
    background: #fff;
    padding: 5px 10px 6px;
    border-radius: 15px;
}

.done-marker.not-done{
    background-color: #888;
    color: #FFF;
    text-decoration: line-through;
}

.done-marker.done{
    background-color: #4bb74e;
    color: #fff;
    text-decoration: none;
}

.widget-info{
    background-color: #FFF;
}

.widget-info{
    margin-top: -5px;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-bottom: 20px;
    border-bottom: 2px solid #4bb74e;
}

.widget-info h4{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
}

.widget-info a{
    color: #4bb74e;
    text-decoration: none;
    margin-top: 10px;
}

.widget-info .arrow{
    font-size: 22px;
}

.widget-container:hover .widget-info a{
    text-decoration: underline;
}

.content-inner.video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-inner.video .video-container:first-of-type{
    margin-top: 30px;
}

.content-inner.video .video-container{
    margin-bottom: 30px;
    position: relative;
}

.content-inner.video .video-container .done-marker{
    bottom: 140px;
}

.content-inner.video .video-container p{
    max-width: 640px;
}

.link-list{
    width: 100%;
    max-width: 700px;
    margin: 40px auto 20px;
    font-size: 18px;
    font-weight: 600;
}

.link-list p{
    display: block;
    
}

.link-list p::before{
    content: "●";
    margin-right: 12px;
    font-size: 24px;
    color: #4bb74e;
}

.link-list a{
    display: block;
    margin-left: 24px;
    margin-bottom: 32px;
    color: #2222AA;
}

.link-list .pre-sub{
    margin-bottom: 24px;
}

.link-list .sub{
    margin-left: 50px;
}

.link-list .sub p::before{
    content: "◒";
    font-size: 14px;
}

footer{
    background-color: #116269;
    margin-top: 60px;
    padding: 60px 0;
    width: 100%;
    
    
}
.footer-container{
    margin: auto;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-logo{
}
.footer-logo img{
    width: 300px;
}
.footer-text{
    color: #FFF;
    
}
.footer-socials{
    display: flex;
    flex-direction: row;
    justify-content: end;

}
.footer-socials img{
    width: 40px;
    color: #FFF;
    margin-left: 20px;
}

@media screen and (max-width: 900px){
    .group-name-container{
        margin-bottom: 0;
    }


    .intro-container, 
    .intro-container.work{
        margin-top: 0;
        margin-bottom: 0;
        flex-direction: column;
    }

    .intro-container.work{
        margin-top: 15px;
        margin-bottom: 20px;
    }

    .intro-container .left-text, 
    .intro-container.work .left-text{
        width: 100%;
        text-align: left;
    }

    .intro-container > .right-document{
        width: 100%;
        max-width: 500px;
    }

    .sections-container .content-inner{
        flex-wrap: wrap;
    }

    .sections-container .widget-container{
        width: 50%;
    }

    .footer-container{
        flex-direction: column;
        text-align: center;
    }

    .footer-container > *{
        margin: 10px auto;
    }
}

@media screen and (max-width: 650px){
    .section > .header > h2{
        max-width: 60%;
    }
}

@media screen and (max-width: 500px){
    .logo-container{
        flex-direction: column;
    }
}

